DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/deribit_db
# postgresql+asyncpg:// says to SQLAlchemy use asyncpg.
# Format: dialect+driver://user:pass@host:port/dbname
 
REDIS_URL=redis://localhost:6379/0
# Redis address for Celery. /0 — number of the database
 
DERIBIT_BASE_URL=https://www.deribit.com/api/v2
# Base URL Deribit API.